<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <ion-item>
    <ion-label>Wallet Balance - {{paytmWalletBalance}}</ion-label>
  </ion-item>
  <ion-item *ngIf="showInfoLabel">
    <ion-label>{{infoMessage}}</ion-label>
  </ion-item>
  <ion-button class="ion-padding" expand="block" (click)="onClick()">
    {{payText}}
  </ion-button>
</ion-content>
